<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Tìm kiếm </label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            <select name="gender" id="gender-input">
                <option value="male">Chọn giới tính</option>
                <option value="nam">Nam</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>